<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add New Animal</title>
    </head>
    <body>
        <h1>Add New Animal</h1>
        <form class="" action="/animals" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" value="">
            <label for="name">Weight</label>
            <input type="text" name="weight" value="">
            <label for="name">Color</label>
            <input type="text" name="color" value="">
            <input type="submit" name="Submit" value="Submit">
        </form>
    </body>
</html>
