<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>

<body>
    <h1>Show!</h1>
    <p>Name: <%= animal.name %></p>
    <p>Weight: <%= animal.weight %></p>
    <p>Color: <%= animal.color %></p>
    <p>ID: <%=animal._id %></p>
    <a href="/">Home</a>
</body>

</html>
